<!doctype html>
<html>
<head>
    <title>Spooky Dog Rescue</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Griffy|Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Krub|Montserrat|Niramit|Open+Sans" rel="stylesheet">

</head>
<body>
    <div id="header">
        <h1>Spooky Dog Rescue</h1>
        <h3 id="headerh3">So spooky. Much dog.</h3>
    </div>
    {{{body}}}
    <div class="navigation">
        <ul class="navBar">
            <li class="navL"><a href="/">Home</a></li>
            <li class="navL"><a href="/dogsearch">Browse Dogs</a></li>
            <li class="navL"><a href="/dogs">Manage Dogs</a></li>
            <li class="navL"><a href="/employees">Employees</a></li>
            <li class="navL"><a href="/adopters">Adopters</a></li>
            <li class="navL"><a href="/foodsupply">Food Supply</a></li>
            <li class="navL"><a href="/orders">Order Food</a></li>
            <li class="navL"><a href="/works">Working Relationships</a></li>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    
</body>
</html>
