    <h2 id="mainpageheader">Welcome to the Spooky Dog Rescue Database</h2>

    <div id="mainpagediv">
        <img id="mainpageimg" src="../images/ghostdogs.jpg" />
        <br />
        <p>Manage information about the dogs, employees, food supply, and adopters.</p>
        <p style="font-size:smaller">Such database.</p>
    </div>
