<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h3>Index</h3>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="dogsearch">Browse Dogs (Search)</a></li>
        <li><a href="dogs">Manage Dogs (Add/Delete/Edit)</a></li>
        <li><a href="employees">Employees (Add/Delete/Edit)</a></li>
        <li><a href="adopters">Adopters (Add/Delete/Edit)</a></li>
        <li><a href="foodsupply">Food Supply (Add/Delete/Edit)</a></li>
        <li><a href="orderfood">Order Food (Add/Delete) (Many-to-many)</a></li>
        <li><a href="works">Working Relationships (Add/Delete) (Many-to-many)</a></li>
        <br />
    </ul> 
</body>
</html>